@import "tailwindcss";

a{
    color: #ffffff;
}

*{
    font-family: 'Poppins', sans-serif;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #ffffff !important;
  color: #005707 !important;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}


