@import "tailwindcss";

a{
    color: #ffffff;
}

*{
    font-family: 'Poppins', sans-serif;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #ffffff !important;
  color: #005707 !important;
}

